<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{- 'assets/js/jquery.min.js' | relative_url -}}"></script>
<script src="{{- 'assets/js/popper.min.js' | relative_url -}}"></script>
<script src="{{- 'assets/js/bootstrap.min.js' | relative_url -}}"></script>
<script src="{{- 'assets/js/jquery.typeahead.min.js' | relative_url -}}"></script>
<script src="{{- 'assets/js/wordcloud2.min.js' | relative_url -}}"></script>
<script src="{{- 'assets/js/cb-search.js' | relative_url -}}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117594393-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117594393-1');
</script>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
