<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{- 'assets/js/jquery.min.js' | relative_url -}}"></script>
<script src="{{- 'assets/js/popper.min.js' | relative_url -}}"></script>
<script src="{{- 'assets/js/bootstrap.min.js' | relative_url -}}"></script>
<script src="{{- 'assets/js/jquery.typeahead.min.js' | relative_url -}}"></script>
<script src="{{- 'assets/js/cb-search.js' | relative_url -}}"></script>