<!-- start tag cloud widget -->
<div class="widget">
    <h4 class="title">标签云</h4>
    <div class="content tag-cloud" id="side-tag">
        {% for tag in site.tags limit:20 %}
        <a href="{{ site.tags_url }}#{{ tag | first }}">{{ tag | first }}</a>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
    function getRandomArrayElements(arr, count) {
        var shuffled = arr.slice(0), i = arr.length, min = i - count, temp, index;
        while (i-- > min) {
            index = Math.floor((i + 1) * Math.random());
            temp = shuffled[index];
            shuffled[index] = shuffled[i];
            shuffled[i] = temp;
        }
        return shuffled.slice(min);
    }
    var tags = [{% for tag in site.tags %}"{{ tag | first }}"{% if forloop.rindex != 1  %}, {% endif %}{% endfor %}];
    function set_tags() {
        let _tags = getRandomArrayElements(tags, 20);
        let h = '';
        for (let x of _tags) {
            h += `<a href="{{ site.tags_url }}#${x}">${x}</a>\n`;
        }
        $("#side-tag").html(h)
    }
    set_tags();
    window.setInterval(set_tags, 10000);
</script>                      
<!-- end tag cloud widget -->