---
layout: default
comments: true
---
<div class="container">
    <div class="row">
        <div class="col-md-8">
			<article id="110" class="post">
					<header class="post-head">
							<h1 class="post-title">{{- page.title -}}</h1>
							<section class="post-meta">
								<time class="post-date">
									<i class="fas fa-clock"></i>
									{{- page.date | date: "%Y-%m-%d %H:%M:%S %Z" -}}
								</time>
								<span>
									<i class="fas fa-eye"></i>
									<span class="waline-pageview-count">0</span>
								</span>	
								<span>
									<i class="fas fa-comments"></i>
									<a class="waline-comment-count" href="#waline" style="text-decoration: none; color: #959595;">0</a>
								</span>	
							</section>
					</header>
			
			
					<section class="post-content">	
						{{- content -}}
					</section>
			
					<footer class="post-footer clearfix">
						<div class="pull-left tag-list">
								<i class="fas fa-tag"></i>
								{% for tag in page.tags %}
										<a href="{{ site.tags_url }}#{{ tag }}">{{ tag }}</a>
								{% endfor %}
						</div>
					</footer>
			
			</article>
			<div id="waline"></div>
        </div>
        <aside class="col-md-4 sidebar">
			<div class="widget table-of-contents">
				<h4 class="title">目录</h4>
				<div class="content category">
					{% include toc.html html=content class="" id="my_toc" h_min=2 h_max=3 %}
				</div>
			</div>
        </aside>
    </div>
</div>

<!-- 图片弹出 -->
<div id="img-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" 
	aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="max-width:90%;">
	  <div class="modal-content">

	  </div>
	</div>
</div>
<script>
	$('.post-content img').click(function(){
		var img_html = $(this).prop("outerHTML");
		$('#img-modal .modal-content').html(img_html);
		$('#img-modal').modal('show');
		// 点击隐藏 modal
		$('#img-modal .modal-content img').click(function(){
			$('#img-modal').modal('hide');
		})
	});
	let parent = document.querySelector('.table-of-contents').parentElement;

	while (parent) {
	const hasOverflow = getComputedStyle(parent).overflow;
	if (hasOverflow !== 'visible') {
		console.log(hasOverflow, parent);
	}
	parent = parent.parentElement;
	}
</script>
<!-- Mermaid -->
<script type="module">
	import mermaid from "{{- 'assets/mermaid/mermaid.esm.mjs' | relative_url -}}";
	mermaid.initialize({ startOnLoad: true });
</script>

<!-- Waline -->
<style>
	#waline .wl-panel{
		border-radius: 0;
		margin: 0;
	}
</style>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />
<script type="module">
	import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';

	init({
		el: '#waline',
		path: window.location.pathname,
		pageview: true,
		comment: true,
		serverURL: 'https://waline.xubiaosunny.top',
		locale: {
			placeholder: "欢迎评论，已经开启审核，不会立即显示^_^"
		},
	});
</script>
